<!DOCTYPE html>
<html>
<head>
  <title>FoodWorks - Products: <%= controller.action_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <div class="twitter-user">
      <button class="btn"><p>Signed in as <%= current_user.name %></p></button>
      <p> log out </p>
    </div>

  <% end %>
  

      <div class="header">
        <h1>All Products</h1>
      </div>

    <!--   <p style="color: green"><%= flash[:notice] %></p> -->

      <div class="sidebar">
        (sidebar)
      </div>

      <div class="main">
        <%= yield %>
      </div>

      <div class="footer">
        FoodWorks Online Grocery<br/>
        A Rails Jumpstart Project
      </div>


</body>
</html>
